<div class="content">
  <div class="container">
      <ng-container *ngFor="let voting of votings;">          
          <div class="tile is-parent">
            <article class="tile is-child box clickable" (click)="onTitleClick(voting)">
              <p class="title">{{voting.title}}</p>
              <label>Start</label><p class="title">{{voting.start}}</p>
              <label>End</label><p class="title">{{voting.end}}</p>
              <div class="card">
                  <ng-container *ngFor="let votingOption of voting['option'];">
                      <p class="card-footer-item">
                          <span>
                              {{votingOption.value}}
                          </span>
                          <span class="tag is-link is-normal count">{{votingOption.count}}</span>
                      </p>                      
                  </ng-container>
              </div>            
            </article>
          </div>
    </ng-container>  
  </div>
</div>

