$light-blue: #C3E0E5;
$blue-gray: #5885AF;

body {
    margin: atuo 0;
}

.sidebar {
    padding: 10px 10px;
    width: 150px;
    height: 100vh;
    position: fixed;
    background-color: $light-blue;
}

.main {
    padding: 3rem;
    margin-left:150px;
}

