<div class="content">
    <div class="tile is-ancestor">
        <ng-container>          
            <div class="tile is-parent">
              <article class="tile is-child box clickable">
                <p class="title">{{recentlyEndedVoting.title}}</p>
                <div class="card">
                    <ng-container *ngFor="let votingOption of recentlyEndedVoting['options'];">
                        <p class="card-footer-item">
                            <span>
                                {{votingOption.value}}
                            </span>
                            <span class="tag is-link is-normal">{{votingOption.usersCount}}</span>
                        </p>                      
                    </ng-container>
                </div>            
              </article>
            </div>
      </ng-container>  
    </div>
</div>